.navbarMobileItem {
  display: flex;

  width: 100%;

  overflow: hidden;
}

.navbarMobileItem > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1.3rem;

  color: var(--white-3);

  cursor: pointer;

  transition: all 0.3s ease;
}

.navbarMobileItem > div:nth-child(1):hover {
  background-color: var(--white-1);
  color: var(--black-2);
}
