.blackBg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--spacing-4);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;

  overflow-y: auto;
}

.navbarMobile {
  position: relative;
  max-width: 560px;
  margin: 0 auto;
  overflow: hidden;
  animation: show-from-top 0.3s ease-out forwards;
}

@keyframes show-from-top {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(0%);
  }
}

.navbarNavMobile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-color-4);
  list-style-type: none;
}

/* Botão para fechar a navbar mobile */
.closeNavBtn {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: var(--spacing-4) 0;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: var(--secondary-color-5);
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.closeNavBtn:hover {
  background-color: var(--secondary-color-6);
}

.closeNavBtn span {
  position: relative;
  width: 60%;
  height: 2px;
  background-color: var(--white-3);
  transform-origin: left;
  transition: all 0.2s ease-in;
}

.closeNavBtn span:nth-child(1) {
  top: -2px;
  left: 3px;
  transform: rotate(45deg);
}

.closeNavBtn span:nth-child(2) {
  bottom: -1px;
  left: 3px;
  transform: rotate(-45deg);
}
