.slideInMenuItem {
  width: 100%;
}

.slideInMenuItem a {
  display: block;
  width: 100%;
  padding: var(--spacing-6);
  background-color: var(--white-2);

  color: var(--text-color);

  transition: background-color 0.3s ease;
}

.slideInMenuItem a:hover {
  background-color: var(--white-3);
}

@media (max-width: 400px) {
  .slideInMenuItem a {
    padding: var(--spacing-5);
    font-size: var(--font-size-4);
  }
}
