.slideInMenuItem {
  width: 100%;
}

.slideInMenuItem a {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: var(--white-2);

  color: var(--text-color);

  transition: background-color 0.3s ease;
}

.slideInMenuItem a:hover {
  background-color: var(--white-3);
}
