.advantagesContainer {
  padding: var(--spacing-7);
  background-color: var(--brown);
}

.advantages {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto;
  align-items: center;
}

.text p {
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--orange-light);
  letter-spacing: 0.2rem;
}

.text p::after {
  content: "!";
  position: absolute;
  transform: translate3D(110px, -25px, 0px) rotate(15deg) scale(2.8);
}

.logo {
  justify-self: end;
  width: 200px;
}

@media (max-width: 750px) {
  .advantagesContainer {
    padding: var(--spacing-5);
  }

  .advantages {
    grid-template-columns: 1fr;
    gap: var(--spacing-6);
    justify-items: center;
  }

  .text p {
    font-size: 2rem;
  }

  .text p::after {
    transform: translate3D(95px, -20px, 0px) rotate(15deg) scale(2.8);
  }

  .logo {
    justify-self: center;
    width: 150px;
  }
}

@media (max-width: 450px) {
  .text p {
    font-size: 1.6rem;
  }

  .text p::after {
    transform: translate3D(80px, -15px, 0px) rotate(15deg) scale(2.8);
  }
}
