.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 0;

  display: grid;
  gap: var(--spacing-5);
  align-items: center;
  padding: var(--spacing-7) var(--spacing-6);

  background-color: var(--white-1);
  color: var(--black-2);

  overflow: hidden;

  z-index: 100;

  animation: open-from-top 0.5s ease-out forwards;
}

@keyframes open-from-top {
  from {
    max-height: 0rem;
  }

  to {
    max-height: 20rem;
  }
}
