.navbarItem > a {
  display: flex;
  align-items: center;

  padding: var(--spacing-5);
  text-align: center;
  height: 5rem;

  transition: all 0.5s ease-out;
}

.navbarItem.active {
  background-color: var(--white-1);
  color: var(--black-2);
}
