.navbarItem > a {
  display: flex;
  align-items: center;

  padding: 1rem;
  text-align: center;
  height: 5rem;

  transition: all 0.5s ease-out;
}

.navbarItem + .navbarItem {
  border-left: 1px solid var(--white);
}

.navbarItem.active {
  background-color: var(--white);
  color: var(--black);
}
