.navbar {
  background: var(--primary-color-4);
}

.navbarNav {
  display: flex;
  align-items: center;

  list-style-type: none;
  color: var(--white-3);
}

/* Itens do dropdown */
.dropdownItem {
  text-align: center;
}

.dropdownItem a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdownItem h2 {
  margin-bottom: 0.8rem;
}

.dropdownItem p {
  max-width: 300px;
}

.dropdownItem + .dropdownItem {
  border-left: 1px solid var(--black-2);
}

/* Classe para fixar a nav no topo */
@media (min-width: 1001px) {
  .fixedNav {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

/* Estilos responsivos */
@media (max-width: 1000px) {
  .navbar {
    display: none;
  }
}
