.navbar {
  background: var(--secondary-color);
}

.navbarNav {
  display: flex;
  align-items: center;

  list-style-type: none;
  color: var(--white);
}

/* Itens do dropdown */
.dropdownItem {
  text-align: center;
}

.dropdownItem a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdownItem h2 {
  margin-bottom: 0.8rem;
}

.dropdownItem p {
  max-width: 300px;
}

.dropdownItem + .dropdownItem {
  border-left: 1px solid var(--black);
}

/* Estilos responsivos */
@media (max-width: 1000px) {
  .navbar {
    display: none;
  }
}
