.navbarItem > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-4) var(--spacing-3);
  text-align: center;
  font-size: var(--font-size-4);
  transition: all 0.3s ease-out;
}

.navbarItem.active {
  background-color: var(--white-1);
  color: var(--text-color);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  margin-bottom: var(--spacing-2);
}

.fillIcon svg,
.strokeIcon svg {
  width: 100%;
  height: 100%;

  transition: fill 0.3s ease-out;
}

.fillIcon svg {
  fill: var(--white-1);
}

.navbarItem.active .fillIcon svg {
  fill: var(--text-color);
}

/* Classe para mudar a cor do stroke do svg
ao invés do fill para svg específicos */
.strokeIcon svg {
  fill: none;
  stroke: var(--white-1);
  stroke-width: 20px;
}

.navbarItem.active .strokeIcon svg {
  stroke: var(--text-color);
}

@media (max-width: 1150px) {
  .navbarItem > a {
    padding: var(--spacing-3) var(--spacing-2);
  }
}
